body {
  margin: 0px;
}

canvas {
  background-color: rgb(0, 0, 0);
  background-image: url('https://cdna.artstation.com/p/assets/images/images/023/862/272/large/reiss-tozer-untitled-1.jpg?1580579902');
  margin: 20px;
  border-color: rgb(159, 4, 4);
  border-weight: 500px;
}

img {
  display: none;
}
